version: '3.8'

services:
  apache-php:
    build: .
    container_name: apache-php
    ports:
      - "8084:80"
    volumes:
      - ./var/www/html:/var/www/html
    restart: always

  db:
    image: mysql:8.0
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    ports:
      - "8080:80"
    environment:
      PMA_HOST: db
      PMA_PASSWORD: root
